
<div>
  <h2> Private message</h2>

  <div class="row">
    <div class="col-xs-12">
      <label>Message:</label>
      <input type="text" ng-model="message"/>
      {{message}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary buttons" ng-click="sendPrivatemsg()">Send</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group col-lg-5">
      <li class="list-group-item" ng-repeat="message in messageHistory">
        <div> {{message.currentUser}}</div>
        <div> {{message.message}}</div>
        <div> {{message.timestamp}}</div>
      </li>
    </ul>
  </div>
