<h2>Private chat with {{friendName}}</h2>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group col-lg-5">
    <li class="list-group-item" ng-repeat="message in messageHistory">
      <div class="chatNick"> {{message.nick}}</div>
      <div class="chatTimestamp"> {{message.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</div>
      <div> {{message.message}}</div>
    </li>
  </ul>
</div>
</div>

<div class="row">
  <div class="col-xs-12 form-group col-lg-5">
    <label>Write message:</label>
    <input type="text" class="form-control" ng-model="message"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-5">
    <button class="btn btn-primary buttons" ng-click="privatemsg()">Send</button>
  </div>
</div>
