body {
  padding: 20px;
}
.wrapper {
  float: right;
}
.chatNick {
  font-size: 14pt;
  font-weight: bold;
}
.chatTimestamp {
  font-size: 8pt;
}
.opsButtons {
  float: right;
}
.buttons {
  float: right;
}
.backButtons {
  display: inline-block;
}
.info {
  color: #a5aaa7;
}
#messageList {
  height: 420px;
  overflow: scroll;
}
