body {
  padding: 20px;
  background-color: #e6e6e6;
}
.wrapper {
  float: right;
}
.chatNick {
  font-size: 14pt;
  font-weight: bold;
}
.chatTimestamp {
  font-size: 8pt;
}
.opsButtons {
  float: right;
}
.buttons {
  float: right;
}
.backButtons {
  display: inline-block;
}
.info {
  color: #a5aaa7;
}
.messageList {
  height: 420px;
  overflow-x: scroll;
  border: 4px;
}
.lists {
  height: 450px;
  overflow-x: scroll;
}
.roomlist {
  height: 550px;
}
