<h2>Roomlist</h2>
<ul>
  <li>
    <label>Nýtt herbergi:</label>
    <input type="text" ng-model="roomName"/>
    {{roomName}}
  </li>
  <li>
    <button ng-click="newRoom(); clearfunction(this)">Create room</button>
  </li>
</ul>

<ul>
  <li ng-repeat="(name, room) in roomlist">
    <a href ng-click="moveToRoom(name)">{{name}}</a>
  </li>
</ul>

<div class="row">
  <div class="col-xs-12">
    <h2>Active users </h2>

<!--geta ýtt á user og gert kickout og nýtt chat og fl-->
<ul>
  <li ng-repeat="item in activeUsers">
    <a href ng-click="moveToPrivateRoom(item)">{{item}}</a>
  </li>
</ul>
</div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{errorMessage}}
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <button ng-click="logout()">log out</button>
  </div>
</div>
