<div class="col-xs-12 form-group col-lg-2">
    <label>Nýtt herbergi:</label>
    <input type="text" class="form-control" ng-model="roomName"/>
    <button class="btn btn-primary" ng-click="newRoom(); clearfunction(this)">Create room</button>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Active Rooms</h2>
    <ul class="list-group col-lg-3">
      <li class="list-group-item" ng-repeat="(name, room) in roomlist">
        <a href ng-click="moveToRoom(name)">{{name}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Active users </h2>
      <ul class="list-group col-lg-3">
        <li class="list-group-item" ng-repeat="item in activeUsers">
          <a href ng-click="moveToPrivateRoom(item)">{{item}}</a>
        </li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{errorMessage}}
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" ng-click="logout()">log out</button>
  </div>
</div>
