<div>
  <h2>{{roomName}}</h2>

  <div class="row info" ng-show="showMessage">
    <div class="col-xs-12">
      {{infoMessage}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group col-lg-5" id="messageList">
        <li class="list-group-item" ng-repeat="message in messageHistory | reverse">
          <div class="chatNick"> {{message.nick}}</div>
          <div class="chatTimestamp"> {{message.timestamp | date:'HH:mm dd/MM yyyy'}}</div>
          <div> {{message.message}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group col-lg-5">
      <label>Write message:</label>
      <input type="text" class="form-control" ng-model="message" />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-5">
      <button class="btn btn-primary buttons" ng-click="sendmsg(); clearfunction()" ng-if="messageNotEmpty()">Send</button>
    </div>
  </div>

  <div class="activeList">
    <div class="row">
      <div class="col-xs-12">
        <h2>Active users in {{roomName}} </h2>
        <ul class="list-group col-lg-4">
          <li class="list-group-item">
            {{currentUser}}
          </li>
          <li class="list-group-item" ng-repeat="(name, user) in currentUsers" ng-if="user !== currentUser"> {{user}}
            <div class="opsButtons">
              <button type="button" class="btn btn-primary" ng-if="checkIfOp()" ng-click="kickOut(user)">Kick out</button>
              <button type="button" class="btn btn-primary" ng-if="checkIfOp()" ng-click="banUser(user)">Ban user</button>
              <button type="button" class="btn btn-primary" ng-if="checkIfOp()" ng-click="makeOp(user)">Make admin</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary backButtons" ng-click="goBack()">Back</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary backButtons" ng-click="logout()">Log out</button>
    </div>
  </div>
