
<div>

  <h2>{{roomName}}</h2>

	<div class="row">
		<div class="col-xs-12">
			<label>Message:</label>
			<input type="text" ng-model="message"/>
			{{message}}

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button ng-click="sendmsg()">Send</button>
		</div>
	</div>

  <div class="row">
		<div class="col-xs-12">
      <ul>
      <li ng-repeat="message in messageHistory">
        <!-- <div> Nick : {{nick}}  Message: {{message}}  Timestamp: {{timestamp}}</div> -->
        <div> {{message.nick}}</div>
        <div> {{message.message}}</div>
        <div> {{message.timestamp}}</div>

      </li>
    </ul>
		</div>

    <div class="row">
      <div class="col-xs-12">
        <h2>Active users in {{roomName}} </h2>
          <!--geta ýtt á user og gert kickout og nýtt chat og fl-->
          <ul>
            <!--þarf ops her?-->
            <li ng-repeat="(name, user) in currentOps"> {{user}}
            </li>
            <li ng-repeat="(name, user) in currentUsers"> {{user}}
              <button type="button" ng-if="checkIfOp()" ng-click="kickOut(user)">Kick out</button>
              <button type="button" ng-if="checkIfOp()" ng-click="banUser(user)">Ban user</button>
              <button type="button" ng-if="checkIfOp()" ng-click="makeOp(user)">Make admin</button>
            </li>
          </ul>
    </div>
    </div>
	</div>

<div class="row">
  <div class="col-xs-12">
    {{kickMessage}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button ng-click="goBack()">Back</button>
  </div>
</div>

  <div class="col-xs-12">
    <button ng-click="logout()">Logout</button>
  </div>
</div>
